@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "'Nanum Gothic'";
    src: url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
  }
  @font-face {
    font-family: "'Nanum Brush Script'";
    src: url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
  }
}

html {
  @apply text-black-olive;
}

.search-box {
  @apply border-4 border-solid border-black-olive rounded-full shadow-cartoon-black-olive;
}

.board {
  @apply border-4 border-solid border-black-olive rounded-lg shadow-cartoon-black-olive;
}
